HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Mac file ignore
.DS_Store

# Mybatis generator ignore
# entity
src/main/java/top/tytcc/learn/repository/entity/admin/generated/
src/main/java/top/tytcc/learn/repository/entity/content/generated/
# mapper
src/main/java/top/tytcc/learn/repository/mapper/admin/generated/
src/main/java/top/tytcc/learn/repository/mapper/content/generated/
# xml
src/main/resources/top/tytcc/learn/repository/mapper/admin/generated/
src/main/resources/top/tytcc/learn/repository/mapper/content/generated/
